@import url("https://fonts.googleapis.com/css2?family=Caladea&family=Carrois+Gothic+SC&family=Inconsolata:wght@300&family=Montserrat:wght@200&family=Open+Sans:wght@700&family=PT+Sans:wght@700&family=Plus+Jakarta+Sans:ital,wght@0,500;1,400&family=Poppins:wght@400;700&family=Roboto+Mono:ital,wght@0,100;1,100&family=Roboto:wght@300&family=Rubik:wght@600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#gameboard {
  width: 300px;
  height: 300px;
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
}

.square {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  justify-self: center;
  align-items: center;
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid blue;
  box-sizing: border-box;
}

.cross {
  height: 90px;
  width: 90px;
  position: relative;
  transform: rotate(45deg);
}

.cross:before,
.cross:after {
  content: "";
  position: absolute;
  background-color: red;
}

.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}
